

@font-face{
  font-family: 'Din Pro',sans-serif;
  src: url('../fonts/DINPro-BoldItalic.woff2') format('woff2'), 
       url('../fonts/DINPro-BoldItalic.woff') format('woff');
       font-weight: 700;
       font-display: swap;
}

@font-face{
  font-family: 'Din Pro',sans-serif;
  src: url('../fonts/DINPro-Light.woff2') format('woff2'), 
       url('../fonts/DINPro-Light.woff') format('woff');
       font-weight: 300;
       font-display: swap;
}



@font-face{
  font-family: 'Din Pro',sans-serif;
  src: url('../fonts/DINPro-Medium.woff2') format('woff2'), 
       url('../fonts/DINPro-Medium.woff') format('woff');
       font-weight: 500;
       font-display: swap;
}